build/
Build/
out/
Out/
x64/
x86/
ARM/
ARM64/

.vs/
*.user
*.suo
*.peruser
*.db
*.opendb
*.VC.db
*.VC.opendb
*.ipch
*.aps
*.ncb
*.ilk
*.exe
*.pdb
*.dll
*.lib
*.exp
*.obj
*.iobj
*.ipdb
*.tlog

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
/.qmake.stash
/.qmake.cache

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.gch
*.pch

*.log
.DS_Store
Thumbs.db
